<router-outlet></router-outlet>



<!--*******************+  Incio de Modal Cargando General *****************-->
<div class="container_loader center" [ngClass]="{'container_loader_activated': modelLoaderState}">
  <div class="content">
    <app-loader></app-loader>
  </div>
</div>
<!--*******************+  Fin de Modal Cargando General *****************-->


<!--*******************+  Incio de Modal Mesages *****************-->
<div class="container_message center" [ngClass]="{'container_message_activated': modelMessageState}">
  <div class="content">
    <app-message *ngIf="modelMessageState" [data]="dataMsm"></app-message>
  </div>
</div>
<!--*******************+  Fin de Modal Mesages *****************-->
